<!DOCTYPE html>
<html lang="en">
<head>
  <meta charSet="utf8" />
  <meta content="index, follow, noarchive" name="robots" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="yes" name="mobile-web-app-capable" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <link href='/favicon.ico' rel="shortcut icon" type="image/x-icon" />
  <link href='/web-app-manifest.json' rel="manifest" />
  <title>Eleven Labs - React Front Template</title>
</head>
<body>
<div id="root"></div>
<script type="module" src="/src/main.tsx"></script>
</body>
</html>
